<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <title></title>
</head>

<body style="background-color: blanchedalmond ;">

    <center>
        <div class="container mt-5" style="border: 1px black solid;" >
            <h1>Edit Recipe!</h1>
            <a href="/dashboard">back to recipes</a>
            <a href="/logout">logout</a>
            {% for message in get_flashed_messages(category_filter=['recipe']) %}
            {{message}}
            {% endfor %}
            <form action='/recipe/edit_recipe' method="post">
                <input type="hidden" name="id" value="{{recipe.id}}">
                <div class="form-group">
                    <label for="name">Name: </label>
                    <input type="text" name="name" value="{{recipe.name}}">
                </div>
                <div class="form-group">
                    <label for="description">Description: </label>
                    <input type="text" name="description" value="{{recipe.description}}">
                </div>
                <div class="form-group">
                    <label for="instruction">Instruction: </label>
                    <input type="text" name="instruction" value="{{recipe.instruction}}">
                </div>
                <div class="form-group">
                    <label for="date">Date Cooked/Made: </label>
                    <input type="date" name="date_made" value="{{recipe.date_made}}">
                </div>
                <div class="form-group">
        
                    <input class="form-check-input" type="radio" name="under30" value="1" {% if recipe.under30 == 1 %} checked {%endif%}>
                    <label class="form-check-label" for="under_thirty">Yes</label>
                    <input class="form-check-input" type="radio" name="under30" value="0" {% if recipe.under30 == 0 %} checked {%endif%}>
                    <label class="form-check-label" for="under_thirty">No</label>
        
                </div>
                <button class="btn btn-warning">Submit</button>
            </form>
        </div>
    </center>











</body>