<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body class="container " style="background-color: blanchedalmond ;">
    <nav class="d-flex justify-content-center text-center align-items-center ">
        <h1 class="text-center">Welcome {{recipe.poster.first_name}}</h1>
        <div class="d-flex col-4 justify-content-around">
            <a href="/dashboard" class="btn btn-primary">Dashboard</a>
            <a href="/logout" class="btn btn-info">Logout</a>
        </div>
    </nav>
    <div class="card col-10 mx-auto bg-dark text-light">
        <div class="card-body">
            <h2 class="card-title text-primary">{{recipe.name}}</h2>
            <p class="card-text">Description:  {{recipe.description}}</p>
            <p class="card-text">Under 30 Minutes:
                {%  if recipe.under30 == 1 %}
                Yes
                {% else %}
                No
                {% endif %}
            </p>
            <p class="card-text">Instructions:  {{recipe.instruction}}</p>
            <p class="card-text">Made On:  {{recipe.date_made.strftime('%m-%d-%Y')}}</p>
        </div>
    </div>
</body>
</html>